@font-face {
  font-family: "iconfont"; /* Project id 3337661 */
  src: url('//at.alicdn.com/t/font_3337661_yoqdupzhm7g.woff2?t=1650275544416') format('woff2'),
       url('//at.alicdn.com/t/font_3337661_yoqdupzhm7g.woff?t=1650275544416') format('woff'),
       url('//at.alicdn.com/t/font_3337661_yoqdupzhm7g.ttf?t=1650275544416') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu1:before {
  content: "\e602";
}

.icon-rili:before {
  content: "\e604";
}

.icon-taiyang:before {
  content: "\e60f";
}

.icon-weibiaoti-:before {
  content: "\e636";
}

.icon-ganxingqu:before {
  content: "\e62d";
}

.icon-icon_shoucangxia:before {
  content: "\e606";
}

.icon-renwu:before {
  content: "\e649";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-TODO_INFO:before {
  content: "\e9cb";
}

.icon-todo-fill:before {
  content: "\e86a";
}

.icon-bianji:before {
  content: "\e600";
}

.icon-31shezhi:before {
  content: "\e601";
}

.icon-guanyu:before {
  content: "\e6a1";
}

.icon-tongji:before {
  content: "\e609";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-ic-todo-list:before {
  content: "\e7a2";
}
